table {
    border-collapse: collapse;
    width: 100%;
    color: #212529;
    font-family: monospace;
    font-size: 1.5em;
    text-align: left;
}

th {
    color: #212529;
    padding-bottom: 1%;
    border-bottom: solid 1px #212529;
}

tr:nth-child(even) {
    background-color: #ced4da;
}

.stock-button #plus {
    margin-right: 1em;
    background-color: #6a994e;
    color: white;
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

.stock-button #minus {
    float: right;
    transform: translate(-7em);
    background-color: #bc4749;
    color: white;
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

#minus:hover {
    background-color: #893133;
}

#plus:hover {
    background-color: #4B6C38;
}

.action-button {
    margin-right: 1em;
}

a:link {
    text-decoration: none;
}