@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(../asset/bg1.jpeg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.wrapper .center{
	position: absolute;
	left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}

.logo {
	width: 260px;
	height: 60px;
	padding: 12%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.center h2{
	color: rgb(255, 251, 251);
	font-size: 70px;
	font-weight: bold;
    margin-bottom: 55px;
	width: 885px;
    text-align: center;
	
}
.button{
    justify-content: center;
    margin-left: 380px;
	height: 50px;
	width: 150px;
    padding: 15px 40px;
    text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	background: #113F67;
	outline: none;
	cursor: pointer;
	border: 1px solid #113F67;
	border-radius: 30px;
	transition: .4s;
}
.button:hover{
	background: #0a273f;
}